@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container px-4 py-5" id="custom-cards">
<h2 class="pb-2 border-bottom">Услуги</h2>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Маникюр</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <a asp-controller="Serviceprovisions" asp-action="Create" class="btn btn-primary">Записаться</a>
              </ul>
            </div>
          </div>
        </div>

    <div class="col">
          <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Педикюр</h3>
              <ul class="d-flex list-unstyled mt-auto">
                <a href="#" class="btn btn-primary">Записаться</a>
              </ul>
            </div>
          </div>
        </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Стрижка</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <a href="#" class="btn btn-primary">Записаться</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Окрашивание</h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <a href="#" class="btn btn-primary">Записаться</a>
                  </ul>
                </div>
              </div>
            </div>
  
        <div class="col">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Макияж</h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <a href="#" class="btn btn-primary">Записаться</a>
                  </ul>
                </div>
              </div>
            </div>
  
        <div class="col">
              <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Прически</h3>
                  <ul class="d-flex list-unstyled mt-auto">
                    <a href="#" class="btn btn-primary">Записаться</a>
                  </ul>
                </div>
              </div>
            </div>
      </div>
</div>

  
    