@model BeautySalon.Data.Models.Schedule

@{
    ViewData["Title"] = "Создание";
}

<h1>Create</h1>

<h4>@Model.Emp.Surname @Model.Emp.Name @Model.Emp.FathersName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input type="datetime-local" class="form-control" asp-for="Date" asp-format="{0:dd/MM/yyyyTHH:mm}" /> 
                @* <input asp-for="Date" asp-format="{0:yyyy-MM-ddTHH:mm}" class="form-control" /> *@
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewSchedule" asp-controller="ViewModels" asp-route-empid="@Model.Empid">Вернуться к списку</a>
</div>

