@model IEnumerable<BeautySalon.Data.Models.Position>

@{
    ViewData["Title"] = "Должности";
}

<h1>Должности</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="PosServices" asp-route-posid="@item.Id">Услуги</a>
            </td>
        </tr>
}
    </tbody>
</table>
