@model BeautySalon.Data.Models.ViewModel

@{
    ViewData["Title"] = "SelectTime";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="SelectTime">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select asp-for="Serviceprovision.Schid" class="form-control" asp-items="ViewBag.schid" ></select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

